In [40]:
import pandas as pd
data = pd.read_csv('145_trips1.csv')

In [41]:
from datetime import timedelta

# Function to convert time string to datetime, adjusting for 24 hour+ times
def convert_time(time_str):
    h, m, s = map(int, time_str.split(':'))
    if h >= 24:
        h = h - 24
    return timedelta(hours=h, minutes=m, seconds=s)

# Apply the function to the 'arrival_time' column
data['arrival_time_new'] = data['arrival_time'].apply(convert_time)

# Check the data types again
data[['trip_id', 'stop_sequence', 'arrival_time_new']].dtypes

trip_id                      object
stop_sequence                 int64
arrival_time_new    timedelta64[ns]
dtype: object

In [42]:
# Group by 'trip_id' and sort within each group by 'stop_sequence'
grouped = data.sort_values('stop_sequence').groupby('trip_id')

# Initialize an empty list to hold the unique trip_ids where the arrival time decreases
decreasing_arrival_times = []

# Iterate over each group
for name, group in grouped:
    # Check if the 'arrival_time' series is monotonically increasing
    if not group['arrival_time_new'].is_monotonic:
        # If not, add the trip_id to the list
        decreasing_arrival_times.append(name)
        print(name)

# Count the unique trip_ids
num_unique_trips = len(decreasing_arrival_times)

num_unique_trips

2508.y1001.60-145-b12-1.331.I
9101.y1003.60-145-b12-1.331.I

C:\Users\aggarwpa\AppData\Local\Temp\ipykernel_23620\1992067483.py:10: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  if not group['arrival_time_new'].is_monotonic:

2

In [43]:
def get_day_of_week(trip_id):
    if 'y1001' in trip_id:
        return 'weekday'
    elif 'y1002' in trip_id:
        return 'Saturday'
    elif 'y1003' in trip_id:
        return 'Sunday'
    else:
        return 'unknown'  # or any default value for when none of the keywords are in the trip_id

# Create a new column 'day_of_the_week' using the apply function
data['day_of_the_week'] = data['service_id'].apply(get_day_of_week)

In [44]:
data.to_csv("my.csv",index=False)

In [33]:
# Filter rows where 'day_of_the_week' is 'weekday'
df_weekday = data[data['day_of_the_week'] == 'weekday']

# Reset the index
df_weekday = df_weekday.reset_index(drop=True)

In [34]:
df_weekday.to_csv("weekday.csv", index=False)

In [35]:
from datetime import timedelta

# Function to convert time string to datetime, adjusting for 24 hour+ times
def convert_time(time_str):
    h, m, s = map(int, time_str.split(':'))
    if h >= 24:
        h = h - 24
    return timedelta(hours=h, minutes=m, seconds=s)

# Apply the function to the 'arrival_time' column
df_weekday['arrival_time_new_1'] = df_weekday['arrival_time'].apply(convert_time)

In [36]:
# Group by 'trip_id' and sort within each group by 'stop_sequence'
grouped_weekday = df_weekday.sort_values('stop_sequence').groupby('trip_id')

# Create a new dataframe to hold the first stop of each trip
first_stops = grouped_weekday.first().reset_index()

# Find the range of 'arrival_time_new'
min_time = first_stops['arrival_time_new_1'].min()
max_time = first_stops['arrival_time_new_1'].max()

# Create five equally spaced time intervals within this range
time_intervals = pd.cut(first_stops['arrival_time_new'], bins=5, labels=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])

# Assign these intervals (days) to a new 'day' column
first_stops['day'] = time_intervals

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# Display the first few rows of the dataframe
first_stops.head()

,trip_id,route_id,service_id,shape_id,trip_headsign,direction_id,trip_id.1,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,arrival_time_new,day_of_the_week,arrival_time_new_1,day
0,1606.y1001.60-145-b12-1.330.I,60-145-b12-1,y1001,60-145-b12-1.330.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,1606.y1001.60-145-b12-1.330.I,09:40:00,09:40:00,8350DB007574,1,Heuston Station,0,0,0.0,0 days 09:40:00,weekday,0 days 09:40:00,Tuesday
1,1608.y1001.60-145-b12-1.330.I,60-145-b12-1,y1001,60-145-b12-1.330.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,1608.y1001.60-145-b12-1.330.I,13:10:00,13:10:00,8350DB007574,1,Heuston Station,0,0,0.0,0 days 13:10:00,weekday,0 days 13:10:00,Wednesday
2,1610.y1001.60-145-b12-1.330.I,60-145-b12-1,y1001,60-145-b12-1.330.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,1610.y1001.60-145-b12-1.330.I,16:50:00,16:50:00,8350DB007574,1,Heuston Station,0,0,0.0,0 days 16:50:00,weekday,0 days 16:50:00,Thursday
3,1612.y1001.60-145-b12-1.330.I,60-145-b12-1,y1001,60-145-b12-1.330.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,1612.y1001.60-145-b12-1.330.I,20:30:00,20:30:00,8350DB007574,1,Heuston Station,0,0,0.0,0 days 20:30:00,weekday,0 days 20:30:00,Friday
4,1614.y1001.60-145-b12-1.331.I,60-145-b12-1,y1001,60-145-b12-1.331.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,1614.y1001.60-145-b12-1.331.I,23:00:00,23:00:00,8350DB007574,1,Aston Quay,0,0,0.0,0 days 23:00:00,weekday,0 days 23:00:00,Friday

In [48]:
# Merge 'day' column from 'first_stops' back to 'weekday_data'
df_weekday = pd.merge(df_weekday, first_stops[['trip_id', 'day']], on='trip_id', how='left')

# Drop the 'day_x' column
df_weekday = df_weekday.drop(columns=['day_x'])

# Rename 'day_y' to 'day'
df_weekday = df_weekday.rename(columns={'day_y': 'day'})

# Display the first few rows of the dataframe
df_weekday.head()

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id,trip_id.1,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,arrival_time_new,day_of_the_week,arrival_time_new_1,day,day
0,60-145-b12-1,y1001,2203.y1001.60-145-b12-1.330.I,60-145-b12-1.330.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,2203.y1001.60-145-b12-1.330.I,18:30:00,18:30:00,8350DB007574,1,Heuston Station,0,0,0.00,0 days 18:30:00,weekday,0 days 18:30:00,Thursday,Thursday
1,60-145-b12-1,y1001,2203.y1001.60-145-b12-1.330.I,60-145-b12-1.330.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,2203.y1001.60-145-b12-1.330.I,18:32:32,18:32:32,8350DB004177,2,Heuston Station,0,0,448.42,0 days 18:32:32,weekday,0 days 18:32:32,Thursday,Thursday
2,60-145-b12-1,y1001,2203.y1001.60-145-b12-1.330.I,60-145-b12-1.330.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,2203.y1001.60-145-b12-1.330.I,18:33:09,18:33:09,8350DB004178,3,Heuston Station,0,0,696.52,0 days 18:33:09,weekday,0 days 18:33:09,Thursday,Thursday
3,60-145-b12-1,y1001,2203.y1001.60-145-b12-1.330.I,60-145-b12-1.330.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,2203.y1001.60-145-b12-1.330.I,18:34:24,18:34:24,8350DB004179,4,Heuston Station,0,0,1187.07,0 days 18:34:24,weekday,0 days 18:34:24,Thursday,Thursday
4,60-145-b12-1,y1001,2203.y1001.60-145-b12-1.330.I,60-145-b12-1.330.I,Kilmacanogue (Esso Garage) - Outside Heuston T...,1,2203.y1001.60-145-b12-1.330.I,18:35:24,18:35:24,8350DB002993,5,Heuston Station,0,0,1607.52,0 days 18:35:24,weekday,0 days 18:35:24,Thursday,Thursday

In [49]:
df_weekday.to_csv("with_weekdays.csv",index=False)

In [50]:
df_not_weekday = data[data['day_of_the_week'] != 'weekday']
df_not_weekday.to_csv("with_weekends.csv")

In [52]:
# Load both CSVs into DataFrames
df1 = pd.read_csv('with_weekdays.csv')
df2 = pd.read_csv('with_weekends.csv')

# Define a function to apply to each row of df1
def set_extra_col_value(row):
    if row['day_of_the_week'] == 'saturday':
        return 'Saturday'
    
    if row['day_of_the_week'] == 'sunday':
        return 'Sunday'

# Add the 'extra_col' to df1 with a value depending on 'column_name'
df2['day'] = df2.apply(set_extra_col_value, axis=1)

# Append df1 to df2
df3 = df2.append(df1, ignore_index=True)

C:\Users\aggarwpa\AppData\Local\Temp\ipykernel_23620\1971607600.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df2.append(df1, ignore_index=True)

In [ ]:
df3.to_csv("new_data.csv",index=False)